.ll-nam {
  /* words */
  color: var(--text);
}
.ll-num {
  /* numbers */
  color: var(--accent);
}
.ll-str {
  /* strings */
  color: var(--accent);
}
.ll-rex {
  /* regular expressions */
  color: var(--dim);
}
.ll-pct {
  /* operators, punctation */
  color: var(--dim);
}
.ll-key {
  /* keywords */
  color: var(--accent);
  font-weight: bold;
}
.ll-com {
  /* comments */
  color: var(--dimmer);
  font-style: italic;
}
